@if(student){
<div class="container">
    <div>
        <dialog>
            <span>sicuro???</span><br>
            <button (click)="removeStudent(student.id)">yes</button>
            <button (click)="closeDialog()">no</button>
        </dialog>

        <div class="info-container">
            <img [src]="student.imageUrl">
            <h2>{{student.name}} {{student.surname}}</h2>
            <span><strong>birthdate: </strong> {{student.dob.split('T')[0]}}</span>
            <span><strong>gender: </strong> {{student.gender}}</span>
            <span><strong>country: </strong> {{student.country}}</span>
            
            <span><strong>marks: </strong>
                @for (mark of student.marks; track $index) {
                    {{mark}}
                }
            </span>
        </div>
    </div>
    @if(authServ.isAuth){
        <form [formGroup]="myForm" (ngSubmit)="addMark()">
            <label for="mark">add mark: </label>
            <input type="number" formControlName="mark" id="mark">
            <button type="submit">add</button>
        </form>
        <button (click)="openDialog()">delete</button>
    }
</div>
}