header{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
}

header nav{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

footer{
    height: 75px;
}

main{
    height: calc(100vh - 175px);
    overflow: auto;
}

.container{
    display: flex;
    flex-direction: column;
}