<div class="container">
    <dialog>
        <div class="dialog">
            <div class="info-container">
                <img [src]="imgUrl">
                <h2>{{name}} {{surname}}</h2>
                <span><strong>birthdate: </strong> {{dob.split('T')[0]}}</span>
                <span><strong>gender: </strong> {{gender}}</span>
                <span><strong>country: </strong> {{country}}</span>
            </div>
            <div class="buttons-dialog">
                <button (click)="addStudent()">yes</button>
                <button (click)="closeDialog()">no</button>
            </div>
        </div>
    </dialog>

    <form [formGroup]="newStudentForm" (ngSubmit)="submitForm()">

        <label for="name">name: </label>
        <input type="text" formControlName="name" id="name">
    
        <label for="surname">surname: </label>
        <input type="text" formControlName="surname" id="surname">
    
        <label for="dob">birthdate: </label>
        <input type="date" formControlName="dob" id="dob" [max]="maxDate">
    
        <label for="gender">gender: </label>
        <input type="text" formControlName="gender" id="gender">
    
        <label for="country">country: </label>
        <select formControlName="country" id="country">
            <option *ngFor="let country of countryList" [value]="country.name">
                {{country.name}}
            </option>
        </select>
    
        <label for="imgUrl">imgUrl: </label>
        <input type="text" formControlName="imgUrl" id="imgUrl">
    
        <button type="submit">add</button>
    </form>
</div>